h1,
h2 {
  text-align: center;
  margin-top: 15px;
}

h3 {
  font-size: 20px;
}

.project-left {
  margin: 15px;
}

.project-left p {
  text-align: justify;
}

.project-right {
  padding: 15px;
}

.about p {
  text-align: justify;
  display: block;
  margin: 0 auto;
  padding: 30px 100px;
}

.btn {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.homepage-buttons {
  padding: 40px 0;
}
