:root {
  --main-font: "Lora", serif;
  --background-color: rgb(15, 159, 92, 30%);
  --accent-color: rgb(255, 193, 7);
}

body {
  background-color: var(--background-color);
  font-family: var(--main-font);
}

h1,
.welcome {
  text-align: center;
  margin: 30px auto 50px;
}

.welcome h1 {
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
}

p {
  font-style: italic;
}

img {
  border: thin groove grey;
  border-radius: 2%;
}

.profile-pic {
  border-radius: 20%;
}

.btn {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
}

.homepage-buttons li {
  margin: 10px auto;
  flex: 1;
  list-style: none;
}

.about p {
  text-align: justify;
  display: block;
  margin: 0 auto;
  padding: 30px 100px;
  font-style: italic;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.project {
  font-style: italic;
}

.project-left {
  margin: 15px;
}

.project-left p {
  text-align: justify;
}

.project-right {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-right i {
  color: var(--background-color);
  font-size: 100px;
}

.project-right img {
  max-height: 500px;
  padding: 2px;
  background: var(--background-color);
}

.contact {
  display: block;
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: var(--accent-color);
}

.contact i {
  font-size: 50px;
  margin: 50px auto;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

footer {
  margin: 100px 0 20px;
}

footer li {
  text-decoration: none;
  list-style: none;
  margin: 0 30px;
  font-size: 25px;
}

footer i {
  color: black;
  border-radius: 50%;
  border-color: var(--accent-color);
  border-width: 20px;
  border-style: solid;
}
