:root {
  --main-font: "Lora", serif;
  --background-color: rgba(15, 159, 92, 0.3);
  --accent-color: rgb(255, 193, 7);
  --light-accent-color: rgba(255, 193, 7, 0.25);
  --dark-bg-color: rgb(15, 159, 92, 0.1);
  --branding-color: rgb(105, 126, 11);
}

body {
  background-color: var(--background-color);
  font-family: var(--main-font);
}

h1 {
  color: var(--branding-color);
}

h1,
.welcome {
  text-align: center;
  margin: 30px auto 50px;
}

h3 {
  font-size: 20px;
}

p {
  font-style: italic;
}

img {
  border: thin groove grey;
  border-radius: 2%;
}

.btn {
  display: block;
  margin: 0 auto;
}

.main .welcome h1 {
  margin-bottom: 0;
}

.main ul {
  padding: 0;
}

.main .homepage-buttons {
  display: flex;
  flex-direction: column;
}

.main .homepage-buttons li {
  margin: 15px auto;
  flex: 1;
  list-style: none;
  width: 125px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 20%;
}

.about p {
  text-align: justify;
  display: block;
  margin: 25px 100px;
  padding: 30px 100px;
  font-style: italic;

  border-radius: 1%;
  background-color: var(--dark-bg-color);
  border-color: var(--light-accent-color);
  border-width: 1px;
  border-style: solid;
}

.about .btn {
  width: 250px;
}

.projects .hidden-rows {
  display: none;
}

.project {
  font-style: italic;
}

.projects .project a {
  width: 190px;
}

.project-left {
  margin: 15px;
  border-radius: 1%;
  background-color: var(--dark-bg-color);
  border-color: var(--light-accent-color);
  border-width: 1px;
  border-style: solid;
  padding: 15px;
}

.project-left h3 {
  text-align: center;
}

.project-left p {
  text-align: justify;
}

.project-right {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-right i {
  color: var(--background-color);
  font-size: 100px;
}

.project-right img {
  max-height: 500px;
  padding: 2px;
  background: var(--background-color);
}

.contact {
  display: block;
  text-align: center;
}

.contact-email,
.contact-phone,
.contact-li {
  margin: 50px 15px;
  padding: 30px;
  border-radius: 15%;
  background-color: var(--dark-bg-color);
  border-color: var(--light-accent-color);
  border-width: 1px;
  border-style: solid;
}

.contact-phone {
  margin: 70px 15px 30px;
}

.contact-email {
  margin: 10px 15px 90px;
}

.contact-li {
  margin: 90px 15px 10px;
}

.contact h3 {
  text-decoration: underline;
}

.contact a {
  text-decoration: none;
  color: var(--accent-color);
}

.contact a:hover {
  color: white;
}

.contact i {
  font-size: 50px;
  margin: 50px auto;
}

.contact p {
  margin-bottom: 0;
}

.contact-info-line {
  color: var(--branding-color);
  border-radius: 15%;
  border-width: 1px;
  border-style: solid;
}

.hidden-longer-line {
  display: none;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
}

footer {
  margin: 100px 0 20px;
}

footer ul {
  padding: 0;
}

footer li {
  text-decoration: none;
  list-style: none;
  margin: 0 30px;
  font-size: 25px;
}

footer i {
  color: var(--branding-color);
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  background-color: var(--light-accent-color);
  border-color: var(--light-accent-color);
  border-width: 1px;
  border-style: solid;
}

.credit {
  font-size: 15px;
  text-align: center;
  text-decoration-line: overline;
  color: var(--branding-color);
  margin: 25px 0 15px;
}

.credit-name,
.credit-git {
  color: var(--branding-color);
  text-decoration-line: none;
  font-style: italic;
}

.credit-name:hover,
.credit-git:hover {
  color: var(--background-color);
}

@media (max-width: 992px) {
  .about p {
    margin: 25px 100px;
    padding: 30px 75px;
  }

  .project-left {
    margin: 0;
  }

  .project-left p {
    text-align: center;
  }

  .project-right {
    margin-bottom: 75px;
  }

  .project-right img {
    max-height: 250px;
    max-width: 250px;
  }

  .projects .hidden-rows {
    display: block;
  }
  .projects .column-2 {
    display: none;
  }
  .contact-email,
  .contact-phone,
  .contact-li {
    margin: 50px 15px;
    padding: 30px;
  }
}

@media (max-width: 765px) {
  .about p {
    margin: 25px 75px;
    padding: 30px 75px;
  }

  .contact-container {
    margin: 0 15px;
  }

  .contact-email,
  .contact-phone,
  .contact-li {
    margin: 50px auto;
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .project {
    margin: 0 5px;
  }

  .about p {
    margin: 25px 50px;
    padding: 30px 50px;
  }
}

@media (max-width: 495px) {
  .about p {
    margin: 25px 25px;
    padding: 30px 25px;
  }

  .contact h1 {
    margin-bottom: 30px;
  }

  .contact-email,
  .contact-phone,
  .contact-li {
    margin: 30px 5px;
    padding: 13px;
  }

  .contact-email h3,
  .contact-phone h3,
  .contact-li h3 {
    font-size: 16px;
  }

  .contact-email p,
  .contact-phone p,
  .contact-li p {
    font-size: 15px;
  }

  .contact i {
    font-size: 40px;
    margin: 20px auto;
  }

  footer {
    margin-top: 40px;
  }

  footer li {
    margin: 0 auto;
  }

  footer i {
    margin: 30px 20px;
  }

  .credit {
    font-size: 11px;
  }
}

@media (max-width: 335px) {
  .about p {
    margin: 25px 15px;
    padding: 20px 20px;
  }

  .contact-container {
    margin: 0 5px;
  }

  .contact-email,
  .contact-phone,
  .contact-li {
    margin: 20px 5px;
  }

  .contact i {
    font-size: 30px;
    margin: 20px auto;
  }

  .contact-li small {
    font-size: 12.5px;
  }

  .visible-longer-line {
    display: none;
  }

  .hidden-longer-line {
    display: block;
  }

  .credit {
    font-size: 10px;
  }
}
